{% extends 'base.html.twig' %}

{% block title %}Edit WeekPeriod{% endblock %}

{% block body %}
    <h1>Edit WeekPeriod</h1>

    {{ include('settings/week_period/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="d-flex justify-content-center gap-3 mt-3" >



    </div>
{% endblock %}
