{% extends 'base.html.twig' %}

{% block title %}Edit WeekPeriod{% endblock %}

{% block body %}
    <h1>Edit WeekPeriod</h1>

    {{ include('week_period/settings/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_week_period_index') }}">back to list</a>

    {{ include('settings/week_period/_delete_form.html.twig') }}
{% endblock %}
