{% extends 'base.html.twig' %}

{% block title %}New WeekPeriod
{% endblock %}

{% block body %}
	<h1 class="text-center mb-5">Create new WeekPeriod</h1>

		{{ include('settings/week_period/_form.html.twig') }}

{% endblock %}
